<app-header [previousPage]="previousPage"></app-header>
<div class="center">
    <h2>My voyages</h2>
    <button class="button" routerLink="/addvoyage">Add voyage</button>
  </div>
  
  <div class="center">
    <input type="text" class="form-control" placeholder="Enter a name" [(ngModel)]="searchText" (input)="searchNameVoyages()">
  </div>
  
  <div class="content center">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div 
        fxFlex="33%" 
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let voyage of voyages">
        <div class="card" routerLink="/home/{{ voyage.voyage_id }}" >
            <div class="card-title">{{ voyage.name }}</div>
            <div class="card-description">Description du voyage 1</div>
        </div>
      </div>
    </div>
  </div>
