<div class="center">
    <div class="form-container alignement">
      <h1  class="mat-display-1" style="font-family: Roboto;">Create your account</h1> <br><br><br>  
      <form [formGroup]="signupform" (ngSubmit)="submitSignup()">
        <div class="form">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div class="form">
          <mat-form-field>
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstname">
          </mat-form-field>
        </div>
        <div class="form">
          <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastname">
          </mat-form-field>
        </div>
        <div class="form">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div><br>
        <div class="contButton">
          <button mat-raised-button class="button register" type="submit" style="margin-right:10px;">Signup</button><p>     </p>
          <button mat-raised-button class="button" routerLink="/login">Cancel</button>
        </div>
      </form>
    </div>
  </div>