.center {
    margin:50px;
    margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alignement {
    display: table-caption;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
    flex: 1;
    width: 100%;
  }

  .error {
    color: red;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}