<app-header></app-header>
<div class="center">
  <div class="form-container alignement">
    <h2 class="mat-display-2" style="font-family: Roboto;">Add a new day to your adventure!</h2>
    <form [formGroup]="dayform" (ngSubmit)="submitDay()">  
      <mat-form-field class="form">
        <mat-label>Title</mat-label>
        <input matInput type="text" id="title" name="title" placeholder="Please enter a title" formControlName="title">
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Content</mat-label>
        <input matInput type="content" id="content" name="content" placeholder="Please enter a description" formControlName="content">
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="specifiedTimePicker" type="text" id="specifiedTime" name="specifiedTime" placeholder="Please enter a date" formControlName="specifiedTime">
        <mat-datepicker-toggle matSuffix [for]="specifiedTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #specifiedTimePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Location</mat-label>
        <input matInput type="text" id="specifiedLocation" name="specifiedLocation" placeholder="Please enter a location" formControlName="specifiedLocation">
      </mat-form-field>
      <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div><br>
      <div class="submit">
        <button mat-raised-button color="primary" type="submit" style="margin-right:10px;margin-left:30px;">Save</button>
        <button mat-raised-button color="primary" routerLink="/home/{{ voyage.voyage_id }}">Cancel</button>
      </div>
    </form>
  </div>   
</div>

