<app-header></app-header>
<div class="center">
<div class="form-container alignement">
  <h2 class="mat-display-2" style="font-family: Roboto;">Add a new adventure!</h2>
  <form [formGroup]="voyageForm" (ngSubmit)="submitVoyage()">  
    <mat-form-field class="form">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" name="name" placeholder="Please enter a name" formControlName="name">
    </mat-form-field>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div><br>
    <div class="submit">
      <button mat-raised-button class="button save" type="submit" style="margin-right:10px;margin-left:30px;" color="Secondary">Save</button>
      <button mat-raised-button class="button" routerLink="/home">Cancel</button>
    </div>
  </form>
</div>
</div>
