<div class="center">
    <div class="form-container alignement">
    <h1  class="mat-display-1" style="font-family: Roboto;">GlobeTrotter</h1><br><br><br>
    <form [formGroup]="loginform" (ngSubmit)="submitLogin()">
        <div class="form">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" id="username" name="username" formControlName="username">
          </mat-form-field>
        </div>
        <div class="form">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" name="password" formControlName="password">
          </mat-form-field>
        </div><br>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="contButton">
          <button mat-raised-button class="button" type="submit" style="margin-right:10px;">Login</button><p>     </p>
          <button mat-raised-button class="button register" routerLink="/signup">New account</button>
        </div>
      </form>
</div>
</div>
