<div class="card-container">
<div class = "card">
    <h1 class="title">GlobeTrotter</h1><br><br><br>
    <form [formGroup]="loginform" (ngSubmit)="submitLogin()">
        <div>
            <label>Username</label>
            <input class="inputbox" matInput formControlName="username">
        </div>
        <div>
            <label>Password</label>
            <input class="inputbox" type="password" matInput formControlName="password">
        </div><br>
        <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="contButton">
            <button class="button" type="submit">Login</button><p>     </p>
            <button class="button register" routerLink="/signup">New account</button>
        </div>
    </form>

</div>
</div>
