.button {
    background: rgba(3,3,3,0.74);
    border-radius: 5px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    padding: 3px 24px;
    text-decoration: none;
    outline: 0;
    width: -webkit-fill-available;
}

.button.register {
    background: 
    rgba(210, 180, 140, 1);
    width: -webkit-fill-available;
}

.contButton {
    display: flex;
}

.button {
    background: rgba(3,3,3,0.74);
}

.button.register {
    background: 
    rgba(210, 180, 140, 1);
}

.contButton {
    display: flex;
}

.center {
    margin:50px;
    margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alignement {
    display: table-caption;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
    flex: 1;
    width: 100%;
  }
.error {
    color: red;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

.constButton {
    margin-left: -30px;
}