<app-header></app-header>
<div class="center">
    <div style="margin: 50px;">
      <h1 class="mat-display-1" style="font-family: Roboto;">{{ voyage.name }}</h1>
    
      <button mat-fab color="primary" style="margin-right: 10px;" routerLink="/newday/{{ voyage.voyage_id }}">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button color="primary" routerLink="/editvoyage/{{ voyage.voyage_id }}" style="margin-top: -15px;">Modify</button>    
  </div>
  <div style="margin:50px;">
  <mat-grid-list cols="4" rowHeight="2:1" gutterSize="15px">
      <mat-grid-tile *ngFor="let day of days" class="mat-elevation-z4" style="border-radius: 4px;" routerLink="/detailday/{{ day.day_id }}">
        <div class="center text-center">
          <p class="mat-h2">{{ day.title }}</p>
          <p class="middle">{{ day.formattedDate }}</p></div>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
  </div>
