<app-header ></app-header>
<div class="center">
  <h1 class="mat-display-1" style="font-family: Roboto;">My Voyages</h1>
  <div style="margin: 20px;">
    <button mat-fab color="primary" style="margin-right: 10px;" routerLink="/addvoyage">
        <mat-icon>add</mat-icon>
      </button>
      </div>
  <mat-grid-list cols="4" rowHeight="2:1" gutterSize="15px">
    <mat-grid-tile *ngFor="let voyage of voyages" class="mat-elevation-z4" style="border-radius: 4px;" routerLink="/home/{{ voyage.voyage_id }}">
      <span class="writing" >{{ voyage.name }}</span>
      </mat-grid-tile>
  </mat-grid-list>
  </div>
