.flexExpand {
    flex: 1 1 auto;
  }

.center {
    margin:50px;
}

.writing {
    font-family: Roboto;
    font-size:xx-large
}

.error {
    color: red;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}